$mrgn-lft: 4rem;
$mrgn-rght: 4rem;



@mixin font($size: 15px, $weight: lighter, $font-family: (Courier, sans-serif)){
    font-size: $size;
    font-family: $font-family;
    font-weight: $weight;
    color: $clr-content;
}



$clr-accent: hsl(178, 26%, 46%);
$clr-content: hsl(177,36%,22%);
$clr-dominant: hsl(177,2%,98%);
$clr-dominant-2: hsl(180, 8%, 96%);
$clr-dominant-drk: hsl(180, 13%, 93%);
$clr-dominant-drk-2: hsl(180, 14%, 90%);



html{
    height: 100%;
}

h6{
    @include font(22px, bold);
    margin: 1rem auto;
}
h6.class_choice_h{
    margin-top: 2rem;
    margin-bottom: 0rem;
}
h6.teachers_h{
    margin-top: 0rem;
}

body{
    @include font(15px, bold);
    margin: 0rem 0rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $clr-dominant;

}

table{
    @include font(13px, bold);
    border-collapse: collapse;
    border: solid 1px;

}

table > :nth-child(n) > :nth-child(n) > :nth-child(n){
    border: solid 1px;
    padding: 0.5rem 1rem;
}

tr:nth-child(2n - 3){
    background-color: $clr-dominant-drk;
}
tr:nth-child(2n){
    background-color: hsl(0,0%,100%);
}

.data_tables{
    margin: 0rem 0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1rem;
    margin-left: $mrgn-lft;
    margin-right: $mrgn-rght;
}

.members_tables{
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
    margin-top: 1rem;
}

.teachers_table, .subjects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .representative{
     width: 33.33%;
 }