$mrgn_lft: 4rem;
$mrgn_rght: 4rem;



@mixin font($size: 15px, $weight: lighter, $font-family: (Courier, sans-serif)){
    font-size: $size;
    font-family: $font-family;
    font-weight: $weight;
    color: $clr_content;
}



$clr_accent: hsl(178, 26%, 46%);
$clr_content: hsl(177,36%,22%);
$clr_dominant: hsl(177,2%,98%);
$clr_dominant_2: hsl(180, 8%, 96%);
$clr_dominant_drk: hsl(180, 13%, 93%);
$clr_dominant_drk_2: hsl(180, 14%, 90%);



html{
    height: 100%;
}

h1{
    @include font(34px, bold);
}

button{
    padding: 0.5rem 1rem;
    @include font(15px, bold);

}

button{
    background-color: #FFFFFF;
    border: 2px solid $clr_dominant_drk;
    border-radius: 4px;
}
button:hover{
    background-color: $clr_dominant_drk;
    border-color: $clr_dominant_drk_2;

}




body{
    @include font(15px, bold);
    margin: 0rem 0rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $clr_dominant;
}

.school_data{
    align-items: center;
    justify-content: center;
}

.data_tables{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    margin-left: $mrgn_lft;
    margin-right: $mrgn_rght;
}



table{
    @include font(13px, bold);
    border-collapse: collapse;
    border: solid 1px;
}

table > :nth-child(n) > :nth-child(n) > :nth-child(n){
    border: solid 1px;
    padding: 0.5rem 1rem;
}

tr:nth-child(2n - 3){
    background-color: $clr_dominant_drk;
}
tr:nth-child(2n){
    background-color: hsl(0,0,100);
}
